.chat__chat-zone {
    display: grid;
    min-height: 80vh;
}

.chat__typing-zone {
    display: grid;
    margin: 0 auto;
    max-width: 300px;
}

.chat__message-input {
    min-height: 100px;
}

.chat__msg {
    max-height: 50px;
}